@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body, html {
  height: 100%;
  line-height: 1.8;
}

.bg-img {
  background-image: url("https://cdn.hipwallpaper.com/i/75/68/8BWvUj.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.bg-intro {
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  text-align: center;
  color: white;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  padding: 70px;
}

.ml3 {
  font-weight: 900;
  font-size: 3.5em;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 20vw;
  text-decoration-line: underline;
  text-decoration-style: solid;
  padding-top: 50px;
  padding-bottom: 30px;
}

.about-bg {
  background-color: #f5f5f5;
}

.about-intro {
  font-family: 'Muli', sans-serif;
  text-align: inherit;
  font-size: 1.6rem;
  width: 100%;
  box-sizing: border-box;
  text-align: justify;
}

.bio-image {
  max-width: 600px;
  display: block;
  border: 7px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

/* services */
#content {
  padding: 0 18%;
}

.content-bg {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(70deg, #52616b 40%, #E4E9FD 60%);
}

.icon {
  color: #092532;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.icon:hover {
  color: #3b6978;
}

.content-box {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}
/* list */

.cta-100 {
  margin-top: 10px;
  padding-left: 8%;
  padding-top: 5%;
}
.col-md-4{
    padding-bottom:20px;
}

.blog .carousel-indicators {
  left: 0;
  top: -50px;
  height: 50%;
}


/* The colour of the indicators */

.blog .carousel-indicators li {
  background: black;
  border-radius: 90%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background:#303841;
}

.item-box-blog {
  border: 2px solid #dadada;
  text-align: center;
}


.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}


.item-heading-blog h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;

}

/* contact me */
* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
